<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Smart Water Solutions</title>
</head>

<body>


  <div class="menu-wrapper">
    <header class="header">
      <a href="/" class="logo"><img alt="Logo" src="/img/logo.jpg"></a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
        
      </ul>
    </header>
  </div>
  <div>

    {{#each queryQ}}
    <center>


      <h2>Queries</h2>
      <div class="section mt-1">

        {{first_name}}
        {{!-- <br><br>
        <strong>{{book_count}}</strong> queries(s) you sent took out at the library is due in
        <strong>{{days_due_in}}</strong> day(s).
        <br><br> --}}

        {{!-- {{#if notLate}}
        Please return these books to us in the next <a href="/reminder/{{days_due_in}}/days">{{days_due_in}}
          days</a> .
        {{else}}
        <span class="late"> Please return your books <strong>urgently</strong></span>
        {{/if}} --}}

        {{!-- <div class="mt-1">
          <a href="/edit/{{id}}">Edit query</a>
        </div> --}}
        <div class="remove-query mt-1">
          <form method="POST" action="/remove/{{id}}">
            <input type="submit" class="small-button" value="Remove Query">
          </form>
        </div>
      </div>
      {{/each}}
  </div>
  </div>
  <div style="margin-top: 6em;"></div>
  <div class="center">
    <div class="tabs">

      <input type="radio" name="tabs" id="tabone" checked="checked">
      <label for="tabone">Login</label>
      <div class="tab">
        <center>
          <h1>Login</h1>
        </center>

        <form action="/login" method="post" style="margin:1em">
          <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            {{!-- Changed type from text to email --}}
            <input class="input-field" type="email" required placeholder="Email" name="email">
          </div>

          <div class="input-container">
            <i class="fa fa-lock icon"></i>
            <input class="input-field" type="password" required placeholder="Password" name="psw">
          </div>
          <p>Have you forgotten your <a href="#"><strong>password</strong></a>?</p>
          <button type="submit" class="btn">Login</button>
          <p>Don't have an account? &nbsp;<a href="/register">Sign up</a></p>
        </form>
      </div>

      <input type="radio" name="tabs" id="tabtwo">
      <label for="tabtwo">Register</label>
      <div class="tab">
        <center>
          <h1>Register</h1>
        </center>

        <form action="/register" method="post" style="margin:1em">
          <div class="input-container">
            <i class="fa fa-user icon"></i>
            <input class="input-field" type="text" required placeholder="Name" name="name">
          </div>

          <div class="input-container">
            <i class="fa fa-envelope icon"></i>
            <input class="input-field" type="email" required placeholder="Email" name="email">
          </div>

          <div class="input-container">
            <i class="fa fa-lock icon"></i>
            <input class="input-field" type="password" required placeholder="Password" name="psw">
          </div>

          <div class="input-container">
            <i class="fa fa-lock icon"></i>
            <input class="input-field" type="password" required placeholder="Retype Password" name="psw1">
          </div>
          <div style="padding-bottom: 1em;">
            <p>Are you a Rand Water Technican?</p>
            <input id="padding" type="radio" name="user_type" checked value="user">No
            <input id="padding" type="radio" name="user_type" value="technician">Yes
          </div>
          <button style="margin-top: 5px;" type="submit" class="btn">Register</button>
        </form>
      </div>
    </div>


</body>

</html>